<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Login</title>
  <link rel="stylesheet" href="{{ url_for('Static', filename='uploads/login.css') }}">
</head>
<body>
  <div class="login-box">
    <h2>Sign in</h2>
    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}
    <form method="POST">
      <label for="username">User Name *</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password *</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Sign In</button>
    </form>
  </div>
</body>
</html>
